<div class="mainContainer">
    <div class="image">
        <img src="assets/images/bg.jpg">
    </div>
    <div class="content">
        <div class="left_content">
            <img src="assets/images/sr_logo2.png">
            <div class="drpdwnList">
                <span [innerText]="spanText"></span>
                <i class="fa fa-angle-down" (click)="showMenu()" [class.drpdwnListactive]="onMenuOpen"></i>
                <div class="blockUI" (click)="hideMenu()" *ngIf="noMenu"></div>
                <ul class="actionList" [@fadeAnim] *ngIf="noMenu">
                    <li>
                        <a [routerLink]="['addData']" routerLinkActive="activeLinkColor" (click)="getTitle($event)">Add Data</a>
                    </li>
                    <li>
                        <a [routerLink]="['updateData']" routerLinkActive="activeLinkColor" (click)="getTitle($event)">Update Data</a>
                    </li>
                    <!-- <li>
                        <a [routerLink]="['deleteData']" routerLinkActive="activeLinkColor" (click)="getTitle($event)">Delete Data</a>
                    </li> -->
                </ul>
            </div>
        </div>
        <div class="right_content">
            <div class="left_rightcontent">
                <ul>
                    <li *ngFor="let portal of portals, let idx = index">
                        <a class="firstChild" [routerLink]="portal.nav" routerLinkActive="highlight">{{portal.title}}</a>
                    </li>                    
                </ul>
            </div>
            <div class="right_rightcontent">
                <div class="switchCase">
                    <router-outlet>
                    </router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>