<app-add-form (dialogBoolValue)="getDialogBoolValue($event)" (closeModalOutput)="closeModalPop($event)" *ngIf="addPortal" [modalValue]="modalOpenValue" [selectedPortalObj]="selectedPortalObj"></app-add-form>
<app-dialog *ngIf="deleteClicked" [deleteRegionButtonName]="deleteBtn" [portalIndex]="portalIndexClicked" [selectedPortalObj]="selectedPortalObj" [getClickedProperties]="getProperties" (closeDialogBoolValue)="closeDialog($event)"></app-dialog>
<section class="addRegion">
    <ul>
        <h2 [innerText]="headerText"></h2>
        <div class="dataForm">
            <div class="selectPortalSection">
                <div>
                    <label for="selectPortal">Select Portal:</label>
                    <select id="selectPortal" name="selectedPortal" [(ngModel)]="selectedPortal" (change)="getvalue()">
                        <option [value]=null disabled>Please choose</option>
                        <option *ngFor="let portal of portals" [ngValue]="portal.data">{{portal.title}}</option>
                    </select>
                    <span class="iconSpan">
                        <span>
                            <small>Add New Portal</small>
                            <i id="addnewportal" class="fa fa-plus" (click)="openForm($event)"></i>
                        </span>
                        <span>
                            <small>Delete Portal</small>
                            <i id="deleteportal" class="fa fa-trash" (click)="openForm($event)"></i>
                        </span>
                    </span>
                </div>
                <div *ngIf="updateClicked">
                    <label for="selectRegion">Select Region:</label>
                    <select id="selectRegion" name="selectedRegion" [(ngModel)]="selectedRegion" style="margin-right:0.5em">
                        <option *ngFor="let region of selectedPortal" [ngValue]="region">{{region.title}}</option>
                    </select>
                </div>
            </div>
            <div class="dataInputSection">
                <form [formGroup]="regionDataForm">
                    <ul class="regionForm">
                        <li>
                            <div>
                                <label for="title">Title:</label>
                                <input class="input" id="title" name="title" [(ngModel)]="selectedRegion.title" [ngModelOptions]="{standalone: true}" [readonly]="onSelection">
                            </div>
                            <div>
                                <label for="desc">Description:</label>
                                <input class="input" id="desc" name="desc" [(ngModel)]="selectedRegion.desc" [ngModelOptions]="{standalone: true}" [readonly]="onSelection">
                            </div>
                        </li>
                        <li *ngIf="updateClicked">
                            <div *ngFor="let links of selectedRegion.link, let idx = index">
                                <label for="link">Link {{idx + 1}}:</label>
                                <input class="input" id="{{idx + 1}}" name="link{{idx + 1}}" [(ngModel)]="links.link" [ngModelOptions]="{standalone: true}"
                                    [readonly]="onSelection">
                            </div>
                        </li>
                        <li *ngIf="!updateClicked">
                            <div>
                                <label for="link1">Link 1:</label>
                                <input class="input" id="link1" name="link1" [(ngModel)]="link1" [ngModelOptions]="{standalone: true}" [readonly]="onSelection">
                            </div>
                            <div>
                                <label for="link2">Link 2:</label>
                                <input class="input" id="link2" name="link2" [(ngModel)]="link2" [ngModelOptions]="{standalone: true}" [readonly]="onSelection">
                            </div>
                        </li>
                        <li class="lastListItem">
                            <label for="title">Data:</label>
                            <div *ngIf="updateClicked" class="dataTable">
                                <div class="fixedTBH">
                                    <ul>
                                        <li>Server</li>
                                        <li>Server Name</li>
                                        <li>Address</li>
                                    </ul>
                                </div>
                                <div class="dataTableContainer">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Server</th>
                                                <th>Server Name</th>
                                                <th>Address</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let dataTbl of selectedRegion.data, let idx = index">
                                                <td>
                                                    <input class="input" type="text" id="{{idx+1}}" name="dataTbl.Servers{{idx+1}}" [(ngModel)]="dataTbl.Servers" [ngModelOptions]="{standalone: true}">
                                                </td>
                                                <td>
                                                    <input class="input" type="text" id="{{idx+1}}" name="dataTbl.ServerName{{idx+1}}" [(ngModel)]="dataTbl.ServerName" [ngModelOptions]="{standalone: true}">
                                                </td>
                                                <td>
                                                    <input class="input" type="text" id="{{idx+1}}" name="dataTbl.Address{{idx+1}}" [(ngModel)]="dataTbl.Address" [ngModelOptions]="{standalone: true}">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div *ngIf="!updateClicked" class="dataTable">
                                <div class="fixedTBH">
                                    <ul>
                                        <li>Server</li>
                                        <li>Server Name</li>
                                        <li>Address</li>
                                    </ul>
                                </div>
                                <div class="dataTableContainer">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Server</th>
                                                <th>Server Name</th>
                                                <th>Address</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr formArrayName="serverDetails" *ngFor="let rows of serverDetails.controls, let idx = index">
                                                <td>
                                                    <input (change)="addRow($event)" class="input" type="text" [readonly]="onSelection">
                                                </td>
                                                <td>
                                                    <input class="input" type="text" [readonly]="onSelection">
                                                </td>
                                                <td>
                                                    <input class="input" type="text" [readonly]="onSelection">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="formBtns">
                        <button class="btn" type="submit" *ngIf="!updateClicked" (click)="addRegion()">Add Region</button>
                        <button class="btn" type="submit" *ngIf="updateClicked" (click)="updateRegion()">Update Region</button>
                        <button class="btn" type="submit" *ngIf="updateClicked" id="deleteRegion" (click)="deleteRegion($event)" [disabled]="updateSelected">Delete Region</button>                        
                    </div>
                </form>
            </div>
        </div>
    </ul>
</section>