:host {
    flex-basis: 100%;
}

.addRegion {
    height: 100%;
}

.addRegion ul {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

h2 {
    margin: 0;
    color: #999;
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
    font-size: 16px;
}

.dataForm {
    flex-basis: 95%;
    display: flex;
    flex-direction: column;
}

.selectPortalSection {
    flex-basis: 7%;
    display: flex;
    align-items: center;
    padding: 0.5em;
    justify-content: space-between;
}

.selectPortalSection select {
    margin: 0 1em;
    width: 12em;
    padding: 0.25em;
}

.selectPortalSection select:focus {
    outline: none;
}

.dataInputSection {
    flex-basis: 93%;
    display: flex;
    flex-direction: column;
    background-color: #eee;
}

.dataInputSection form {
    /* padding: 0.5em; */
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}

.dataInputSection form ul {
    flex-basis: 93%;
}

.dataInputSection form div.formBtns {
    flex-basis: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25em;
    background-color: white;
    border-top: 1px solid #ccc;
}

app-add-form {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
}

.regionForm {
    margin: 0;
    padding: 0;
}

.regionForm li {
    list-style-type: none;
    flex-basis: 8%;
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    /* width: 70%; */
}

.regionForm li.lastListItem {
    flex-basis: 84% !important;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
}

.lastListItem label {
    flex-basis: 10% !important;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.lastListItem label a {
    margin-left: 0.5em;
    text-decoration: underline;
    color: blue;
    font-size: 12px !important;
    cursor: pointer
}

.regionForm li div {
    flex-basis: 48%;
    display: inherit;
    align-items: inherit;
}

.regionForm li label {
    flex-basis: 30%;
}

.regionForm li input {
    flex-basis: 70%;
}

#portalError {
    position: absolute;
    top: 100%;
    left: 0;
}


/* Data Table Styles */

.dataTable {
    width: 100%;
    /* padding: 0.5em; */
    background-color: #fff;
    flex-basis: 90% !important;
    height: 0;
    overflow-y: auto;
    /* box-shadow: 0 0 0 1px #999 inset; */
    position: relative;
}

.dataTable table {
    border-collapse: collapse;
    width: 100%;
    /* min-height: 100%; */
}

.dataTable table thead {
    background-color: #999;
    color: white;
}

.dataTable table thead tr th {
    font-weight: normal;
    padding: 0.5em;
    width: 33.3%;
}

.dataTable table tbody tr td {
    padding: 0.5em;
    width: 33.3%;
}

.dataTable table tbody tr:nth-child(odd) {
    background-color: #f4f4f4;
}

.dataTable table tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

.dataTable table tbody tr td input[type="text"] {
    width: 85%;
}

.fixedTBH {
    position: absolute;
    left: 0;
    right:0;
    background-color: #999;
}

.fixedTBH ul {
    flex-basis: 100% !important;
    flex-direction: row;
}

.fixedTBH ul li {
    padding: 0.5em;
    flex-basis: 33.3%;
    color: white;
}

.dataTableContainer {
    flex-basis: 100% !important;
    height: 100%;
    overflow-y: overlay;
}

app-dialog {
    position: absolute; 
    top:0;
    bottom:0;
    right:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: rgba(0,0,0,0.35);
}