<section class="srContent">
  <p><span>StoneRiver</span><br> is an IT company providing wide range of products for Insurance Carriers (for Life as well as Non-Life). For
    Life Insurance Carriers they offer wide range of products for E-App data entry, Illustration,Underwriting ,Policy Admin
    System etc.</p>
  <ul class="socialList">
    <li>
      <a href="https://www.facebook.com/stoneriverinc/" target="_blank">
        <i class="fa fa-facebook-square"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/stoneriverins?lang=en" target="_blank">
        <i class="fa fa-twitter-square"></i>
      </a>
    </li>
  </ul>
</section>